{% extends "global/Page.html" %}
{% load otree static %}
{% load user_agents %}

{% block title %}
{% endblock %}

{% block content %}
<h3>Descripción de los tipos de mercados</h3><br />
A continuación, le presentamos dos Mercados. En cada ronda, usted deberá escoger bajo cuál Mercado de Trabajo quiere realizar la tarea de traducción.<ul>
      <li><u><i>Mercado con contribuciones, o "Mercado C":</i></u></li>
          <dir>usted recibe un pago por cada secuencia completada. Parte del pago es retenido como una contribución que se distribuye entre usted y los otros 5 miembros del grupo.</dir>
      <li><u><i>Mercado sin contribuciones, o "Mercado SC":</i></u></li>
          <dir>usted recibe un pago por cada tarea completada, y recibe parte de las contribuciones de los miembros de su grupo que seleccionen el Mercado C.</dir>
  </ul>
<br>

<b>Ganancias en cada Mercado de Trabajo</b>
<p><strong><i><u>Mercado C (con Contribuciones)</u></i></strong></p>
<p>Sus ganancias:</p>
<ul>
<li>+2880 pesos por cada secuencia que usted complete</li>
<li>+480 pesos por cada secuencia completada por los participantes del Mercado C</li>
</ul>
<p>Los demás reciben:</p>
<ul>
<li>+480 pesos por cada secuencia completada por usted, si están en el Mercado C</li>
<li>+360 pesos por cada secuencia completada por usted, si están en el Mercado SC</li>
</ul>
<p><strong><i><u>Mercado SC (Sin Contribuciones)</u></i></strong></p>
<p>Sus ganancias:</p>
<ul>
<li>+2970 pesos por cada secuencia que usted complete</li>
<li>+360 pesos por cada secuencia completada por los participantes del Mercado C</li>
</ul>
<p>Los demás no reciben ganancias por sus secuencias completadas.</p>
{% next_button %}

{% endblock %}





