{% extends "global/Page.html" %}
{% load otree static %}
{% load user_agents %}

{% block title %}
{% endblock %}

{% block content %}

A continuación le presentamos dos Mercados. Usted deberá escoger bajo cuál Mercado de Trabajo quiere realizar la tarea de codificación.<ul>
      <li><u>Mercado con contribuciones, o "Mercado C":</u></li>
          <dir>usted recibe un pago por cada tarea completada, parte del pago es retenido como una contribución que se distribuye entre los 6 miembros del grupo, independientemente del Mercado de Trabajo que escojan.</dir>
      <li><u>Mercado sin contribuciones, o "Mercado SC":</u></li>
          <dir>usted recibe un pago por cada tarea completada, y recibe parte de las contribuciones de los miembros de su grupo que seleccionen el los miembros realizan la tarea de decodificación y reciben beneficio por los impuestos al trabajo del Mercado C.</dir>
  </ul>
<br>

<b>Ganancias en cada Mercado de Trabajo</b>
<ul>
      <li><u>En el Mercado C,</u> después de las contribuciones, usted recibe 960 pesos por cada tarea completada por usted, más 160 pesos por cada tarea completada por los demás participantes que también hayan escogido el Mercado C.
        Además, cada tarea completada por usted también les aporta 160 pesos a los demás participantes en el Mercado C, y 120 pesos a los participantes que vayan al Mercado SC.</li>
      <li><u>En el Mercado SC,</u> usted recibe 1.000 pesos por cada tarea completada por usted, más 120 pesos por cada tarea completada por los participantes que vayan al Mercado C.</li>
</ul>
<br>
<br><br>
{% next_button %}

{% endblock %}




