
{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ganancias
{% endblock %}

{% block content %}
<p><b>Por favor lea cuidadosamente la información en esta página y siga correctamente las instrucciones al final de la misma.</b></p>
   <p> La ronda elegida al azar para calcular sus ganancias es: Ronda {{ronda_pagar}}. </p>
   <p> Usted ganó {{pago_completo}} COP en esta ronda.  </p>
<p>Tenga en cuenta que, sus ganancias se transferirán de forma electrónica en un lapso de 24 horas hábiles a partir del momento en que diligencie correctamente el formulario de pago.</p>


<p><b>Instrucciones formulario de pago</b></p>
<p> <b>1.</b>. Copie (ctrl + c) el siguiente código:</p>

<p><h3 align="center">{{ codigo }}</h3></p>


<p><b>2.</b> Haga click sobre el vínculo mostrado debajo para acceder al formulario. Una vez allí, pegue el código en la pregunta que lo solicita y termine de diligenciar el formulario. </p>

<p><a href="https://encuestas.urosario.edu.co/index.php/846598?lang=es">https://encuestas.urosario.edu.co/index.php/846598?lang=es</a></p>

{% endblock %}
