{% extends "global/Page.html" %} {% load otree static %}

{% block title %}{% endblock %}


{% block content %}
<h3>Práctica de la tarea de traducción</h3><br />
    <p align="justify">

<p>Queremos que se familiarice con la tarea de traducción que deberá realizar en el Mercado de Trabajo escogido en cada ronda.</p>

<p>Usted va a ver una secuencia de números que debe traducir a una serie de letras (Z, D, J, K, L). A cada <b>NÚMERO le corresponde una LETRA</b>, debe escribir esta letra como respuesta en cada casilla.</p>
<p>A cada traducción de 5 números en sus respectivas letras le llamaremos secuencia.</p>

<p>Cada vez que complete una secuencia, haga <I>click</I> en el botón “Enviar”.

<p>Si la traducción tiene errores, el computador le pedirá que los corrija. Si la traducción no tiene errores, la secuencia quedará completa.</p>

<p>Al terminar una secuencia cambiarán los NÚMEROS y las LETRAS asociadas. Es decir, cada traducción es diferente a la anterior. </p>

<p> <b>¿Cómo hacer la traducción?</b> </p>
<p>Debajo puede ver la pantalla que observará durante la tarea de traducción</p>

<p class="aligncenter" >
<img src="{% static 'images/pantalla_.jpg' %}" width="1000px" title="Pantalla" />
</p>

<p>En la parte de arriba encuentra una tabla con las claves para traducir a letras. </p>
<p>En la parte de abajo encuentra una tabla con 5 números y 5 casillas vacías. Usted debe escribir la LETRA que corresponde a cada NÚMERO.</p>
<p>Queremos recordarle que sólo hay cinco letras en la traducción, y serán las mismas en todas las rondas. La siguiente imagen muestra la ubicación de esas cinco letras. Esto lo puede ver debajo y confirmar en su teclado.</p>

<p class="aligncenter" >
<img src="{% static 'images/teclado2_.jpeg' %}" width="500px" title="Teclado" />
</p>

<p>Usted dispondrá de <span style="color: #ff0000;">90 segundos</span> para completar correctamente todas las secuencias que pueda. Esta vez resolverá la tarea a modo de prueba, y no afectará sus ganancias.</p>
<p><b>Por favor oprima siguiente para comenzar. Una vez haga <I>click</I> comenzará a correr el tiempo de prueba.</b></p>

{% next_button %}
</p>
<style>
.aligncenter {
    text-align: center;
}
</style>
{% endblock %}
