{% extends "global/Page.html" %}
{% load otree static %}
{% load user_agents %}

{% block title %}Ronda {{ronda}} de 5
{% endblock %}

{% block content %}



<p align="justify">
Recuerde que usted va a recibir:<br><br>
        <div class="card bg-light m-3">
        <div class="card-body">

                {% if jug_market == 'SC' %}
                +2970 pesos por cada secuencia que usted complete,<br>
                +360 pesos por cada secuencia completada por los participantes del Mercado C.
                {% else %}
                +2880 pesos por cada secuencia que usted complete,<br>
                +480 pesos por cada secuencia completada por los participantes del Mercado C.<br>
                Además, por cada secuencia completa suya, los otros participantes en este Mercado C reciben 480 pesos, y los participantes en el Mercado SC reciben 360 pesos.
                {% endif %}
        </div>
        </div>
</p>
Por favor oprima siguiente para comenzar. Una vez haga <I>click</I> empezará a correr el tiempo.<br><br>

{% next_button %}

{% endblock %}
