{% extends "global/Page.html" %} {% load otree static %} 

{% block title %} Ronda 0: Práctica {% endblock %}


{% block content %}

<p>Antes de comenzar, queremos que se familiarice con la tarea que deberá realizar en el Mercado de Trabajo escogido en cada ronda. A continuación, podrá probar esta tarea durante 90 segundos. Recuerde que esta vez resolverá la tarea a modo de prueba, y no afectará sus ganancias. Trate de completar el mayor número de secuencias posibles.</p>
<p>Por favor oprima siguiente para comenzar. Una vez haga click comenzará a correr el tiempo de prueba.</p>
{% next_button %}
{% endblock %}
